channels==1.1.8
django_constance==2.2.0
Django==2.0.3
celery==4.1.0
django_simple_history==2.0
pytz==2018.3
python_twitter==3.4.2
asgi-redis==1.4.3
redis==2.10.6
psycopg2==2.7.5
Pillow==5.2.0
psycopg2-binary==2.7.5
