{% extends 'web/base.html' %}
{% load staticfiles %}
{% load l10n %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>TRIAGEM</h2>
        </div>

        <div class="row clearfix">
            <!-- Issues -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="start_card">
                <div class="card">
                    <div class="body">
                        <p style="text-align: justify">Ol&aacute;! Aqui n&oacute;s podemos fazer uma triagem dos <i>Pontos de Aten&ccedil;&atilde;o</i> detectados pelo nosso sistema autom&aacute;tico de monitoramento. Essa &eacute; uma tarefa essencial para o funcionamento de nossa rede de ajuda, pois cada <i>Ponto de Aten&ccedil;&atilde;o</i> confirmado gera um convite de atendimento para a pessoa que est&aacute; em poss&iacute;vel conflito.</p>
                        <p style="text-align: justify">O nosso trabalho &eacute; muito importante e se ao menos uma vida puder ser salva j&aacute; ter&aacute; valido a pena. Vamos come&ccedil;ar?</p>
                        <p style="text-align: center; margin: 0">
                            <button type="button" class="btn bg-deep-purple waves-effect" onclick="javascript: start_issues();">INICIAR TRIAGEM</button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- #END# Issues -->
            <!-- Issues -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="issues_card" style="display: none">
                <div class="card">
                    <div class="body">
                        <p style="text-align: justify">Marque as linhas abaixo que cont&eacute;m as frases que voc&ecirc; considera como um <i>Ponto de Aten&ccedil;&atilde;o</i> verdadeiro. Lembre-se que os autores dessas frases est&atilde;o agora em suas m&atilde;os, sob sua an&aacute;lise, e nenhum outro volunt&aacute;rio ter&aacute; a oportunidade de fazer uma nova triagem destas publica&ccedil;&otilde;es.</p>
                        <p style="text-align: justify">Por favor, n&atilde;o saia sem concluir a triagem atual.</p>
                        <table
                            id="table_issues"
                            class="table-select"
                            data-toggle="table"
                            data-striped="true"
                            data-click-to-select="true"
                            data-unique-id="id">
                            <thead>
                                <tr>
                                    <th data-field="created_at" class="col-xs-4 col-md-2">Quando</th>
                                    <th data-field="text" class="col-xs-6 col-md-10">Mensagem</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <p style="text-align: center; margin-top: 12px;">Concluir a triagem atual e:</p>
                        <p style="text-align: center; margin-bottom: 0">
                            <button type="button" class="btn btn-danger waves-effect" onclick="javascript: stop_issues();">ENCERRAR</button>
                            <button type="button" class="btn bg-deep-purple waves-effect" onclick="javascript: continue_issues();">CONTINUAR</button>
                        </p>
                    </div>
                </div>
            </div>
            <!-- #END# Issues -->
        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
<script src="{% static "web/bootstrap/js/pages/issues.js" %}"></script>
{% endblock script %}
